<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Edit Password{% endblock %}</title>
    
    <!-- Add your CSS styles or link to external stylesheets here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Password</h2>
    {% if user %}
        <form method="post" action="{% url 'edit_password' user_id=user.id %}">
            {% csrf_token %}

            <label for="id_old_password">Old Password:</label>
            <input type="password" name="old_password" id="id_old_password"  value="{{ user.old_password }}"required>
            <br>

            <label for="id_new_password1">New Password:</label>
            <input type="password" name="new_password1" id="id_new_password1"  value="{{user.new_password1}}" required>
            <br>

            <label for="id_new_password2">Confirm New Password:</label>
            <input type="password" name="new_password2" id="id_new_password2" value="{{user.new_password2}}" required>
            <br>

            <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
    {% endif %}
</div>

<!-- Include your JavaScript files here -->
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>
