<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registration{% endblock %}</title>
    
    <!-- Add your CSS styles or link to external stylesheets here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h2>Welcome to Registration page!</h2>
    <div class="login-form"><!-- login form -->
        <form method='POST' action="">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td><label class="form-label">First Name</label></td>
                    <td><input type="text" class="form-control" name="firstname" required></td>
                </tr>
                <tr>
                    <td><label class="form-label">Last Name</label></td>
                    <td><input type="text" class="form-control" name="lastname" required></td>
                </tr>
                <tr>
                    <td><label class="form-label">Phone</label></td>
                    <td><input type="tel" class="form-control" name="phone" required></td>
                </tr>
                <tr>
                    <td><label class="form-label">Email</label></td>
                    <td><input type="email" class="form-control" name="email" required></td>
                </tr>
                <tr>
                    <td><label class="form-label">Username</label></td>
                    <td><input type="text" class="form-control" name="username" required></td>
                </tr>
                <tr>
                    <td><label class="form-label">Password</label></td>
                    <td><input type="password" class="form-control" name="password" required></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>

    <!-- Include your JavaScript files here -->
    <script src="{% static 'js/script.js' %}"></script>
    
</body>

</html>
